{{ form_start(articleForm) }}
    {{ form_row(articleForm.title, {
        label: 'Article title'
    }) }}
     <div class="row">
        <div class="col-sm-9">
            {{ form_row(articleForm.fileNameImage, {
                attr: {
                    'placeholder': 'Preselected image'
                }
            }) }}
        </div>
        <div class="col-sm-3">
            {% if articleForm.vars.data.fileName %}
                <a href="{{ uploaded_asset(articleForm.vars.data.imagePath) }}" target="_blank">
                <img src="{{ articleForm.vars.data.imagePath|imagine_filter('squared_thumbnail_small') }}" height="100">
                </a>
            {% endif %}
        </div>
    </div>
     {{ form_row(articleForm.body, {
        label: 'Article body'
     }) }}
   
    <button type="submit" class="btn btn-primary" value="Send">Publish</button>
    {{ form_end(articleForm) }}  